body{
    font-family: helvetice,arial,sans-serif;
    background-image: url("../images/background1.jpg");
    font-size: 14px;
}

.hidden{
      display:none;
}

#container{
   margin: 0 auto;
   width: 950px;
   display: flex;
   flex-direction: column;
}
.mainHeader{
	display: flex;
	flex-direction: column;
	text-align: center;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+0 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 0%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 0%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.logoHeader{
	font-size: 30px;
     margin:10px 300px;
}


#mainNav{
   font-family: 'Roboto', sans-serif;
   height: 50px;
   border: 5px solid  #FFE400;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+0 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 0%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 0%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}

#mainNav ul li{
	font-size: 23px;
	float: left;
	list-style-type:none;

}

#mainNav ul li a{
    color: #ffffff;
	display: block;
	text-align: center;
	text-decoration: none;
	padding:15px 43.5px;
	letter-spacing: 1px;
	cursor: pointer;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

#mainNav ul li a.active {
  background-color:#FFE300;
  color: black;
}

#mainNav ul li a:hover{
   color: grey;
     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,ffe300+0 */
background: rgb(254,252,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(255,227,0,1) 0%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(255,227,0,1) 0%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(255,227,0,1) 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#ffe300',GradientType=0 ); /* IE6-9 */

}


#mainImages {
  width: 950px;
  height:400px;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+0 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 0%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 0%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.move{
	width: 950px;
   height:400px;
   overflow: hidden;
}

.move nav {
    width: 4750px;
	height: 475px;

}

.move ul{
	width: 200%;
	height: 100%;
	animation-name: fade; 
	animation-duration:50s;
	 animation-delay :0s; 
	 animation-timing-function: linear; 
	 animation-iteration-count: infinite;

    -ms-animation: fade 50s 0s linear infinite forwards;
    -moz-animation: fade 50s 0s  linear infinite forwards;
    -webkit-animation: fade 50s 0s  linear infinite forwards;
}

.move ul li{
    width: 950px;
    height: 475px;
    float: left;
    list-style: none;
}


 @keyframes fade {
      0% {margin-left: 0px;}
    25% {margin-left: -950px;}
     50% {margin-left: -1900px;}
    75% {margin-left: -2850px;}
     100% { margin-left: -3800px; } 
 }

 @-webkit-keyframes fade {
     0% {margin-left: 0px;}
    25% {margin-left: -950px;}
     50% {margin-left: -1900px;}
    75% {margin-left: -2850px;}
     100% { margin-left: -3800px; } 
 }

 @-moz-keyframes fade {
      0% {margin-left: 0px;}
    25% {margin-left: -950px;}
     50% {margin-left: -1900px;}
    75% {margin-left: -2850px;}
     100% { margin-left: -3800px; } 
 }

 @-ms-keyframes fade {
      0% {margin-left: 0px;}
    25% {margin-left: -950px;}
     50% {margin-left: -1900px;}
    75% {margin-left: -2850px;}
     100% { margin-left: -3800px; } 
 }

#mainImages ul:hover {
    animation-play-state: paused;
        }

/*Home page*/

.jump{
	height: auto;
	color: white;
	
}

.jump h2{
	font-family: 'Open Sans', sans-serif;
	margin:40px 350px;
	font-size: 25px;
}

.jump h2 span{  
	   text-align: center;
        float:left;  
        position: relative;  
    }  

.jump h2 span:nth-child(1){  
        -webkit-animation:jump 2s linear 0s infinite alternate;  
    }  

.jump h2 span:nth-child(2){  
        -webkit-animation:jump 2s linear 0.4s infinite alternate;  
    }  

.jump h2 span:nth-child(3){  
        -webkit-animation:jump 2s linear 0.8s infinite alternate;  
    }  

.jump h2 span:nth-child(4){  
        -webkit-animation:jump 2s linear 1.2s infinite alternate;  
    }  

@-webkit-keyframes jump{  
     0%{top:0px;     
        }  
     50%{top:-20px;   
        }  
     100%{top:20px;  
        }  
    }  

.jump p{
	font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    width: 900px;
    font-size: 17px;
    margin-left: 30px;
    text-align: center;
}


.promo{
	width: 950px;
	height: auto; 
	display: flex;
	justify-content: space-around;
}

.promobox{
	width: 250px;
	height: auto;
	margin: 30px 0;
}

.promoImage{
	padding: 10px;
}

.promoImage img{
	width: 200px;
	height: 280px;
}

.promoImage img:hover {
    border-radius: 99%;
    filter:saturate(2);
}

.textbox{
	color:#ffffff;
	height: auto;
}

.promobox p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 20px 0;
}

.promobox p:first-letter{
     font-size: 25px;
} 

.buttom1{
	font-family: 'Roboto', sans-serif;
	background-color: #000000;
	margin-top: 1px;
	margin-bottom: 10px;
	padding:10px 30px;
	text-align: center;
	text-decoration:none; 
	color: #ffffff;
	cursor: pointer;
	border-radius: 1px;
	 border: 1px solid #ffffff;
	box-shadow: 0 1px 4px rgba(0,0,0,2);
	text-shadow: 1px 1px 1px rgba(0,0,0,2);
}

.buttom1:active{
	position: relative;
	top:10px;
}
.buttom1:hover{
	color: #FFE400;
	border-bottom: 2px solid red;
}



/*Product page*/
.product{
	height: auto;
   margin: 10px 0;
	display: flex;
	flex-direction: row;
}

.productlist{
	font-family: 'Kelly Slab', cursive;
	height: auto;
	width: 200px;
	text-align: center;
	margin:10px 0 ;
	font-size: 20px;
}


.productlist ul li {
	list-style-type:none;
	margin-bottom: 30px;
	margin-right: 10px;
}

.productlist ul li a{
	display: block;
	color: #ffffff;
	font-size: 17px;
	padding: 20px 0;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.productlist ul li a:hover {
	color: #FFE400;
	border-radius: 1px;
	border-bottom: 3px solid red;
	    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+0 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 0%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 0%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}



.productdetail{
    height: auto;
    width: 700px;
    margin:10px 0px 10px 35px;
    display: flex;
    flex-direction: column;
}

.productInfo{
	width: 700px;
    height: auto;
    position: relative;
    display: flex;
	flex-direction: row;
}

.detailbox{
    height: auto;
    width: 320px;
    color: #ffffff;
    position: absolute;
    top: 10%;
    left: 5%;
}

.detailbox h5{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.detailbox h5:hover{
    color: #FFE400;
}

.detailbox p{
    font-family: 'Open Sans', sans-serif;
}

.productImage1{
	height: 350px;
	width: 700px;
	background-image: url("../images/jasnepelne_background.jpg");
	opacity: 0.7;
}

.productImage2{
	height: 350px;
	width: 700px;
	background-image: url("../images/pilzne_background.jpg");
    opacity: 0.7;
}

.productImage3{
	height: 350px;
	width: 700px;
	background-image: url("../images/pszenne_background.jpg");
    opacity: 0.7;
}

.buttom2{
	font-family: 'Roboto', sans-serif;
	background-color: #000000;
	position: absolute;
	margin-top: 10px;
	padding:10px 30px;
	text-align: center;
	text-decoration:none; 
	color: #FFE400;
	cursor: pointer;
	border-radius: 1px;
	 border: 1px solid #FFE400;
	box-shadow: 0 1px 4px rgba(0,0,0,2);
	text-shadow: 1px 1px 1px rgba(0,0,0,2);
}
.buttom2:active{
	position: relative;
	top:15px;
}
.buttom2:hover{
	color: red;
	border-bottom: 2px solid red;
}



/**event**/
.tour{
	position: relative;
}

.bottom-left{
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 890px; 
  padding: 30px ;
}

.tour h3{
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	margin-bottom: 20px;
}


.explore{
	width: 800px;
	color: #ffffff;
	margin: 0 auto;
}

.explore h3{
    font-family: 'Roboto', sans-serif;
	font-size: 22px;
	padding: 20px;
	text-align: center;
}

.trip{
    display: flex;
    flex-direction: row;
}

.trip img{
	margin: 20px 30px;
	width: 180px;
}

.trip img:hover{
	 border-radius: 60%;
}

.trip p{
	font-family: 'Open Sans', sans-serif;
   margin: 20px 10px;
   font-size: 15px;
}

.trip p:first-letter{
   font-size: 25px;
}

.includes{
	width: 650px;
	color: #ffffff;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.includes h4{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

.includes ul.a {
  padding: 10px;
  list-style-type: square;
  list-style-position: inside;
}

.includes ul.b {
  padding: 10px;
  list-style-type: circle;
  list-style-position: inside;
}

.includes ul li{
	font-family: 'Open Sans', sans-serif;
	  padding: 5px;
}

.includes ul li:first-letter{
    font-size: 18px;
}

.includes ul li:hover{
	  padding: 6px;
	  color: #FFE400;
}

.includes a{
	font-family: 'Roboto', sans-serif;
	width: 100px;
	color: #FFE400;
   background-color: #000000;
	margin-top: 10px;
	padding:10px 30px;
	text-align: center;
	text-decoration:none; 
	cursor: pointer;
	border-radius: 1px;
	 border: 1px solid #FFE400;
	box-shadow: 0 1px 4px rgba(0,0,0,2);
	text-shadow: 1px 1px 1px rgba(0,0,0,2);
}
.includes a:active{
	position: relative;
	top:1px;
}
.includes a:hover{
	color: red;
	border-bottom: 2px solid red;
}

.includes p{
	color: red;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.chart{
	width: 700px;
	margin:0 auto;
	padding: 20px;
}

.chart h3{
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px;
}

.chart a{
	color: #FFE400;
	text-decoration:none;
}

.chart a:hover{
	color: red;
}

table, th, td {
  border: 1px solid #ffffff;
  border-collapse: collapse;
  color:#ffffff;
}
th, td {
  padding: 5px;
  text-align: left;    
}


/**about page**/

.about{
	position: relative;
}

.about h3{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 25px;
	padding-bottom:30px;
}

.honor{
    width: 850px;
    margin:0px auto;
    color: #ffffff;
}

.honor h3{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 20px 0;
}

.honor ul {
	font-family: 'Open Sans', sans-serif;
     list-style-type:disc ;
     list-style-position: inside;
}

.honor ul li{
	  padding: 5px;
}

.honor ul li:hover{
	  padding: 6px;
	  color: #FFE400;
}

.unique{
     width: 850px;
     height: auto;
     margin:0px auto;
     color: #ffffff;
}

.unique h3{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 20px 0;
}

.uniques{
	display: flex;
	flex-direction: row;
}

.uniques img{
     width: 300px;
     opacity: 0.7;
}

.uniques img:hover{
    transform: scaleX(-1);
}

.uniques ul {
	font-family: 'Open Sans', sans-serif;
	 margin:10px;
     list-style-type:disc;
     list-style-position: inside;  
}

.uniques ul li{
	  padding: 5px;
}

.uniques ul li:hover{
	  padding: 6px;
	  color: #FFE400;
}


/**contact page**/

.contact{
	width: 900px;
	margin:0 0 40px 0;
	display: flex;
	flex-direction: row;
}

.contact h3{
    font-family: 'Lato', sans-serif;
    padding: 5px;
    font-size: 20px;
    }

.contact h4{
    font-family: 'Lato', sans-serif;
    padding: 5px;
    font-size: 16px;
    margin-top: 20px;
    }

.contact p{
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
}

.contact p:hover{
    font-family: 'Open Sans', sans-serif;
    padding: 6px;
    color: #FFE400;
}

.contactArea{
    display: flex;
	flex-direction: column;
    text-align: center;
	color: white;
	padding: 20px 30px 0px 30px; 
   width: 350px;
    margin: 0px 50px 10px 40px;
}

.contactArea a{
	width: 100px;
	margin: 0 auto;
}

.contactForm{
	padding: 5px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.contactForm p:hover{
	color: red;
}
.contactForm label{
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      padding: 10px 0;
}

.contactForm label:hover{
	color: #FFE400;
}

#contactForm input,textarea{
    border-radius: 4px;
	width: 100%;
	margin:5px 0px;
}
#contactForm input{
   height: 20px;
}


input:focus {
  background-color:#FFE400;
}
textarea:focus {
  background-color:#FFE400 ;
}


#contactForm a{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	width: 100px;
	margin-top: 5px;
	color: #FFE400;
   background-color: #000000;
	padding:10px 30px;
	text-align: center;
	text-decoration:none; 
	cursor: pointer;
	border-radius: 1px;
	 border: 1px solid #FFE400;
	box-shadow: 0 1px 4px rgba(0,0,0,2);
	text-shadow: 1px 1px 1px rgba(0,0,0,2);
}

#contactForm a:active{
	position: relative;
	top:1px;
}
#contactForm a:hover{
	color: red;
	border-bottom: 2px solid red;
}

/**footer **/
#footer{
	background-color: black;
	display: flex;
	flex-direction: row;
}

#footerNav{
	font-family: 'Roboto', sans-serif;
    width: 150px;
    margin:15px 0 0 15px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+0 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 0%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 0%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

#footerNav ul{
	 list-style-type: none;
     margin: 0;
     padding: 0;
}

#footerNav ul li a{
	display: block;
	color: #ffffff;
	font-size: 15px;
	font-family: 'Anton', sans-serif;
    width: 100px;
    padding: 8px 1px;
    text-decoration: none;

    -webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

#footerNav ul li a:hover{
	color: #FFE400;
}

#copyright{
	font-family: 'Roboto', sans-serif;
	color: #FFE400;
	width: 200px;
	height: 30px;
	text-align: center;
	margin-top: 160px;
	margin-left: 220px;
	    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+0 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 0%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 0%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	
}

.socialMedia{
	list-style: none;
	display: flex;
	flex-direction: row;
	margin:100px 10px 0 150px;
}

.socialMedia img{
	border-radius: 8px;
	width: 45px;
	margin-right: 10px;
}

.socialMedia a{
	filter: grayscale(0%);
}
.socialMedia  a:hover{
	filter: grayscale(80%);
}